#about {
  --card-width: 20rem;
  --visible-cards: 4;
  --gap: 1rem;
  background-color: var(--Terracota);
}

#about .content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding: 2rem 0;
}

#about .content h1 {
  color: var(--Seaweed);
}

#about .content p {
  width: 50rem;
  text-align: center;
  color: var(--Cream);
  font-weight: 200;
}

#about .content .intro {
  font-size: 1.5rem;
}

.cards-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  scroll-snap-align: none;
}

#about .content .cards {
  display: flex;
  gap: var(--gap);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: calc(
    (var(--card-width) * var(--visible-cards)) +
      (var(--gap) * (var(--visible-cards) - 1))
  );
  -ms-overflow-style: none;
  scrollbar-width: none;
  transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;
}

#about .content .cards::-webkit-scrollbar {
  display: none;
}

#about .content .cards .card {
  width: var(--card-width);
  min-width: var(--card-width);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-shrink: 0;
  scroll-snap-align: start;
}

#about .content .cards .card:not(:last-child) {
  border-right: 1px solid var(--Saffron);
}

#about .content .cards .card .logo {
  height: 2rem;
}

#about .content .cards .card .logo .on {
  fill: var(--Cream);
}

#about .content .cards .card .logo .brief,
#about .content .cards .card .logo .culture,
#about .content .cards .card .logo .time,
#about .content .cards .card .logo .budget {
  fill: var(--Saffron);
}

#about .content .cards .card p {
  text-align: left;
  max-width: 100%;
}

/* Navigation buttons - hidden by default on desktop */
.nav-button {
  display: none;
  border: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: var(--Terracota);
}

.nav-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.nav-arrow {
  fill: var(--Cream);
  width: 32px;
  height: 32px;
}

@media (max-width: 1440px) {
  #about {
    --visible-cards: 3;
  }
  .nav-button {
    display: flex;
  }
}

@media (max-width: 1200px) {
  #about {
    --visible-cards: 2;
  }
}

@media (max-width: 834px) {
  #about {
    --visible-cards: 1;
  }

  #about .content p {
    width: var(--card-width);
  }

  .cards-container {
    overflow: hidden;
  }

  #about .content .cards .card:not(:last-child) {
    border-right: none;
  }
}
