#about {
  background-color: var(--Terracota);
}

#about .content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding: 2rem 0;
}

#about .content h1 {
  color: var(--Seaweed);
}

#about .content p {
  width: 50rem;
  text-align: center;
  color: var(--Cream);
  font-weight: 200;
}

.nav-button {
  display: none;
}

.cards-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  scroll-snap-align: none;
}

#about .content .cards {
  display: flex;
  gap: 1rem;
  scroll-behavior: smooth;
}

#about .content .cards .card {
  width: 20rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-shrink: 0;
}

#about .content .cards .card:not(:last-child) {
  border-right: 1px solid var(--Saffron);
}

#about .content .cards .card .logo {
  width: 80%;
}

#about .content .cards .card .logo .on {
  fill: var(--Cream);
}

#about .content .cards .card .logo .shore {
  fill: var(--Saffron);
}

#about .content .cards .card p {
  text-align: left;
  max-width: 100%;
}

@media (max-width: 768px) {
  #about .content p {
    width: 20rem;
  }

  .cards-container {
    gap: 1rem;
    overflow: hidden;
  }

  .nav-button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: var(--Terracota);
  }

  .nav-arrow {
    fill: var(--Cream);
    width: 32px;
    height: 32px;
  }

  .nav-button.prev {
    left: 0;
  }

  .nav-button.next {
    right: 0;
  }

  #about .content .cards {
    width: 20rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 2rem;
    position: relative;
    -webkit-overflow-scrolling: touch;
    transform: translate3d(0, 0, 0);
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  #about .content .cards::-webkit-scrollbar {
    display: none;
  }

  #about .content .cards .card {
    scroll-snap-align: start;
  }
  #about .content .cards .card:not(:last-child) {
    border-right: none;
  }
}
