@keyframes wave1Slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-265.93px);
  }
}

@keyframes wave2Slide {
  0% {
    transform: translateX(-265.93px);
  }
  100% {
    transform: translateX(0);
  }
}

#cases {
  background-color: var(--Seaweed);
  position: relative;
}

#cases .content {
  position: relative;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

#cases video {
  z-index: 3;
}

#cases .video-container {
  position: relative;
  z-index: 3;
  width: 50rem;
  height: auto;
  aspect-ratio: 16 / 9;
}

#cases .cases-description {
  z-index: 3;
  width: 40rem;
  text-align: center;
  color: var(--Saffron);
  font-weight: 200;
}

#cases .wave {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
}

#cases .wave-1 {
  height: 70px;
}

#cases .wave-2 {
  height: 40px;
}

.wave-corner {
  position: absolute;
  bottom: -4rem;
  left: -3rem;
  width: 35rem;
}

.wave-extension-left {
  position: absolute;
  bottom: 0;
  right: 100%;
  left: -100vw;
  width: 100vw;
  height: 17.203rem;
  background-color: var(--Terracota);
}

.wave-extension-right {
  position: absolute;
  bottom: 0;
  right: 100%;
  left: 30rem;
  width: 100vw;
  height: 1.48rem;
  background-color: var(--Terracota);
}

.wave-corner svg {
  color: var(--Terracota);
}

.wave-1 svg {
  color: var(--Terracota);
  animation: wave1Slide 5s linear infinite;
}

.wave-2 svg {
  color: var(--Seaweed);
  animation: wave2Slide 5s linear infinite;
}

@media (max-width: 768px) {
  #cases .content h1 {
    margin-left: 1rem;
  }

  #cases .cases-description {
    width: 20rem;
  }

  #cases .video-container {
    width: 90%;
    margin-top: -5rem;
  }
  .wave-corner {
    bottom: -2rem;
    left: -2rem;
    width: 23rem;
  }
  .wave-extension-right {
    bottom: 0;
    right: 0;
    left: 20rem;
    height: 1.55rem;
  }
}
