header {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  display: flex;
  align-items: center;
  max-width: var(--maxWidth);
  left: 0;
  right: 0;
  margin: 0 auto;
}

header a {
  margin: 0 0.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
  border-bottom: 2px solid transparent;
  width: fit-content;
}

header .content {
  display: flex;
  width: 100%;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
}

.LogoHeader {
  width: 150px;
  height: auto;
}

.LogoHeader .on,
.LogoHeader .shore {
  transition: fill 0.3s ease;
}

header a.active {
  font-weight: 700;
  border-bottom: 2px solid;
}

header a:hover {
  font-weight: 700;
}

/* Burger Menu Styles */
.burger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 100;
}

.burger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: currentColor;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .burger-menu.open .burger-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger-menu.open .burger-bar:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.open .burger-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  header .nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 50vh;
    width: max-content;
    background-color: var(--Cream);
    padding: 6rem 2rem;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom-left-radius: 3rem;
  }

  header .nav.open {
    right: 0;
  }
}

/* Section-specific styles */
.section-home a,
.section-home .burger-bar {
  color: var(--Seaweed);
}
.section-home .LogoHeader .on {
  fill: var(--Terracota);
}
.section-home .LogoHeader .shore {
  fill: var(--Seaweed);
}

.section-cases a,
.section-cases .burger-bar {
  color: var(--Terracota);
}
.section-cases .LogoHeader .on {
  fill: var(--Terracota);
}
.section-cases .LogoHeader .shore {
  fill: var(--Saffron);
}

.section-about a,
.section-about .burger-bar {
  color: var(--Seaweed);
}
.section-about .LogoHeader .on {
  fill: var(--Seaweed);
}
.section-about .LogoHeader .shore {
  fill: var(--Saffron);
}

.section-contact a,
.section-contact .burger-bar {
  color: var(--Seaweed);
}
.section-contact .LogoHeader .on {
  fill: var(--Seaweed);
}
.section-contact .LogoHeader .shore {
  fill: var(--Terracota);
}
