#home {
  background-color: var(--Saffron);
  top: 0;
  z-index: -1;
  position: sticky;
}

#home .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.snap-container {
  position: relative;
  height: 100vh;
}

.Logo {
  width: 400px;
  height: auto;
}

.Logo .on {
  fill: var(--Terracota);
}

.Logo .shore {
  fill: var(--Seaweed);
}
