#home {
  background-color: var(--Saffron);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.home-spacer {
  height: 100svh;
  width: 100%;
}

#home .content {
  align-items: center;
  justify-content: center;
}

#home .content .Logo {
  margin-top: -15rem;
  width: 60rem;
  height: auto;
}

#home .intro {
  margin-top: -15rem;
  width: 40rem;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  color: var(--Terracota);
}

.Logo .on {
  fill: var(--Terracota);
}

.Logo .shore {
  fill: var(--Seaweed);
}

@media (max-width: 768px) {
  #home .content .Logo {
    width: 30rem;
    margin-top: -10rem;
  }

  #home .intro {
    font-size: 1rem;
    margin-top: -5rem;
    width: 20rem;
    text-align: center;
    color: var(--Terracota);
  }
}
