#home {
  background-color: var(--Saffron);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.home-spacer {
  height: 100svh;
  width: 100%;
}

#home .content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
}

#home .content .Logo {
  width: 40rem;
  height: auto;
}

@media (max-width: 768px) {
  #home .content .Logo {
    width: 20rem;
  }
  #home .content .Logo {
    width: 20rem;
  }
}

#home .content h2 {
  color: var(--Terracota);
}

.Logo .on {
  fill: var(--Terracota);
}

.Logo .shore {
  fill: var(--Seaweed);
}
