@keyframes waveAnimation {
  0% {
    d: path(
      'M1379,644H0V0s77,94,150,93s162-63,176,102s112.3,100.95,177.15,39.97s192.02-3.68,213.44,99.68s86.91,183.87,203.66,95.11s150.03,9.66,196.89,91.95s261.86,122.29,261.86,122.29Z'
    );
  }
  50% {
    d: path(
      'M1379,644H0V0s142,22,150,93s49,153,176,102s178.3-101.05,177.15,39.97s123.02,196.32,213.44,99.68s189.91-47.13,203.66,95.11s71.03,180.66,196.89,91.95s261.86,122.29,261.86,122.29Z'
    );
  }
  100% {
    d: path(
      'M1379,644H0V0s77,94,150,93s162-63,176,102s112.3,100.95,177.15,39.97s192.02-3.68,213.44,99.68s86.91,183.87,203.66,95.11s150.03,9.66,196.89,91.95s261.86,122.29,261.86,122.29Z'
    );
  }
}

.wave-corner path {
  animation: waveAnimation 8s infinite linear;
}

.wave-corner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
}
.wave-corner svg {
  color: var(--Terracota);
  display: block;
  will-change: transform;
}
