@keyframes slideLeft {
  to {
    transform: translateX(-255px);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-255px);
  }
}

@keyframes stretch {
  to {
    transform: scaleY(10);
  }
}

:root {
  --wave1-color: var(--Terracota);
  --wave2-color: var(--Seaweed);
}

.wave {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  transform-origin: bottom;
  animation: stretch linear forwards;
  animation-timeline: view();
}

.wave svg {
  display: block;
  width: calc(255px * 8);
}

.wave .bottom {
  height: 100%;
}

.wave-1 {
  height: 70px;
}

.wave-1 svg {
  color: var(--wave1-color);
  animation: slideLeft 5s linear infinite;
  margin-bottom: -0.3px;
}

.wave-1 .bottom {
  background-color: var(--wave1-color);
}

.wave-2 {
  height: 40px;
}

.wave-2 svg {
  color: var(--wave2-color);
  animation: slideRight 5s linear infinite;
  margin-bottom: -0.3px;
}

.wave-2 .bottom {
  background-color: var(--wave2-color);
}
