@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

html {
  font-family: 'Rammetto One', sans-serif;
  scroll-snap-type: y mandatory;
}

:root {
  --Cream: #fffbf0;
  --Saffron: #f6c746;
  --Terracota: #f06847;
    --Seaweed: #2b5547;
}
